.main {
    margin: 0 auto 200px;
    width: 750px;
}

.player {
    margin: auto;
    display: flex;
    width: 750px;
    border: 3px solid #CCC;
    box-shadow: 5px 10px 10px #888;
    border-radius: 10px;
}
